/* AUDIO*/

html,
body {
    margin: 0;
    padding: 0;
}

button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 4em;
}

.container {
    height: 50%;
    width: 100%;
}

h1 {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: center;
}


/* VIDEO*/

.video {
    height: 100%;
}